<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <style>
            h1 {
                color: white;
            }
        </style>
        <title>home</title>
         <div th:replace="fragments/header :: header-css"/>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <nav>
            <div class="nav-wrapper">
                <a href="http://localhost:8080/home" class="brand-logo">Home</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="http://localhost:8080/main">main</a></li>
                    <li><a href="http://localhost:8080/login">login</a></li>
                   
                </ul>
            </div>
        </nav>
        <div class="card-panel teal lighten-2">
            <h1 align="center">Home</h1>
        </div>
            

    </body>
</html>
